<div data-form-target="formSession" class="absolute fixed z-30 w-[100%] h-[100vh] top-0 bg-black/50 backdrop-blur-sm flex items-center justify-center">
  <div class="w-[45%] bg-[#fffaeb] h-[90vh] border-2 rounded-lg border-[#FFDF20] p-5 overflow-y-auto">
    <%= form_with(model: @session_record, local: true, multipart: true) do |f| %>

      <header class="w-full h-[8vh] flex items-center justify-between">
        <div class="flex items-center gap-5">
          <div class="w-15 h-15 flex items-center justify-around bg-gradient-to-br from-[#FB64B6] to-[#FF2056] rounded-full">
            <%= render "shared/svg/camera"%>
          </div>
          <div>
            <h2 class="text-2xl">Nova lembranca especial</h2>
            <span class="text-sm">Guarde todo momento para sempre</span>
          </div>
        </div>
        <div 
          data-action="click->form#toggleForm" 
          class="h-10 w-10 rounded-full bg-gray-200 text-black shadow-xl cursor-pointer flex items-center justify-center"
        >
          X
        </div>
      </header>

      <div class="w-full mt-8 p-5 h-110 bg-[#fffef9] rounded-lg border-2 border-dashed border-[#FFDF20] relative flex flex-col justify-center -rotate-0.5 shadow-lg">
        <div class="w-40 h-10 bg-[#fb64b6] text-white flex items-center justify-center absolute -top-4 left-1/2 -translate-x-1/2 z-10 rounded-4xl">
          Foto da jogatina
        </div>

        <div data-form-target="choiceImage" data-action="click->form#uploadInputFile" class="w-full h-[90%] border-2 border-dashed rounded-lg border-[#FFDF20] hover:bg-[#fffbe2] hover:cursor-pointer transition flex flex-col items-center justify-center gap-3">
          <div class="flex flex-col items-center gap-2">
            <%= render "shared/svg/picture" %>
            <h2 class="text-gray-600">Clique para adicionar uma foto</h2>
            <span class="text-gray-600">Torne o momento ainda mais memoravel</span>
          </div>
        </div>

        <div data-form-target="selectedImage" class="hidden w-full h-full flex items-center justify-center">
          <div data-action="click->form#uploadInputFile"  class="w-[45%] h-[90%] shadow-lg p-5 text-center flex flex-col gap-8 cursor-pointer">
            <div class="w-[90%] h-[75%]">
              <img class="w-full h-full" id="previewImage" alt="Preview">
            </div>
            <span class="text-sm text-gray-500"> Clique para trocar a foto</span>
          </div>
        </div>

        <%= f.file_field :image, 
          accept: 'image/png, image/jpeg',
          class: "hidden",
          data: { 
            action: "change->form#newImageUpload", 
            form_target: "inputFile" 
          } 
        %>
      </div>


      <div class="flex gap-7 p-2 mt-10">
        <!-- Título Card -->
        <div class="bg-yellow-100 rounded-2xl p-6 w-96 shadow-lg rotate-1">
          <div class="flex items-center gap-2 mb-4">
            <span class="text-lg font-medium text-gray-700">
              ⭐
              <%= f.label :title, "Titulo" %>
            </span>
          </div>
          
          <div class="border-2 border-yellow-400 rounded-lg bg-yellow-50">
            <%= f.text_field :title, placeholder: "Domingo Mágico ✨", class:"w-full h-full p-3 text-sm text-gray-600" %>
          </div>
        </div>

        <!-- Subtítulo Card -->
        <div class="bg-pink-100 rounded-2xl p-6 w-96 shadow-lg -rotate-1">
          <div class="flex items-center gap-2 mb-4">
            <span class="text-lg font-medium text-gray-700">
              ❤️ <%= f.label :subtitle, "Subtitulo" %>
            </span>
          </div>
          
          <div class="border-2 border-pink-300 rounded-lg bg-white">
            <!-- trocar para calendario -->
            <%= f.text_field :subtitle, placeholder: "10/01/2025 🗓️", class: "w-full h-full p-3 text-sm text-gray-600" %>
          </div>
        </div>
      </div>

      <div class="bg-[#eff6ff] rounded-2xl p-6 mb-6 mt-8">
        <h3 class="text-lg font-handwriting text-gray-700 mb-4">
          <%= f.label :description, "Conte um pouco do momento..." %>
        </h3>
        
        <%= f.text_area :description, 
            placeholder: "Foi um dia especial porque...", 
            rows: 6,
            class: "w-full border-2 border-blue-200 rounded-lg p-4 bg-blue-50/30 text-gray-600 text-sm resize-none focus:outline-none focus:border-blue-300 placeholder-gray-400"
        %>
      </div>

      <%= f.label :session_duration, "Duracao da jogatina" %>
      <%= f.number_field :session_duration %>

      <div>
        <input 
          data-form-target="inputAddPlayer" 
          data-action="keydown->form#addNamePlayer" 
          class="p-5" 
          type="text" 
          placeholder="Jhon, Maria, Sidney"
        />
        <button type="button" data-action="click->form#addNamePlayer">➕ Adicionar</button>
      </div>

      <%= f.hidden_field :list_session_player, data: { form_target: "hiddenFieldListPlayerSession"} %>

      <div>
        <input 
          data-form-target="inputAddGame" 
          data-action="keydown->form#addNameGame" 
          class="p-5" 
          type="text"
          placeholder="Dixit, Castle Combo, Scout"
        />
        <button type="button" data-action="click->form#addNameGame">➕ Adicionar</button>
      </div>

      <%= f.hidden_field :list_session_game, data: { form_target: "sessionGameListHiddenField"} %>

      <%= f.submit 'criar' %>
    <% end %>

  </div>
</div>
